:root{
  --gray: #585858;
  --white: #ffffff;
  --dark: #000000;
}

body {
  margin: 0;
  background-color: var(--white)!important;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
