.pricecard-wrap{
    padding: 20px 0px 0px 0px;
    background: linear-gradient(
    to bottom,
    var(--gray) 0%,
    var(--gray) 25%,
    var(--white) 25%,
    var(--white) 50%,
    var(--gray) 50%,
    var(--gray) 100%
    );
}

.card-wrap{
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.card-heading{
    font-size: 18px;
    padding: 0px 0px 20px 0px;
    margin: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

.fourth-session-wrap{
    display: flex;

}

.card-price{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
    line-height: 38px;
}

.fourth-price{
    flex-direction: column;
    width: 30%;
    padding-right: 40px;
}

.price-group{
    display: flex;
    flex-direction: row;
}

.card-price-type{
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    padding-bottom: 20px;
}

.fourth-type{
    border: none;
    line-height: 20px;
}

.card-package-details-wrap{
    padding: 20px 10px 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fourth-details-wrap{
    width: 70%;
}

.package-details-line{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.package-details-line i{
    margin-right: 5px;
}

.card-quote{
    font-size: 40px;
    padding: 50px 0px;
    margin: 0px;
    font-weight: 300;
    color: var(--white);
}

@media all and (max-width: 720px) {
    .card-wrap{
        margin: 0px 25px!important;
    }

    .card-package-details-wrap{
        padding: 20px 40px 15px 40px;
    }
    .card-quote{
        font-size: 30px;
    }

    .fourth-hidden2{
        display: none;
    }
}

@media all and (min-width: 450px) {
    .fourth-hidden{
        display: none;
    }
}



